<ion-header class="ion-no-border" collapse="fade">
  <ion-toolbar color="translucent">
    <ion-button slot="start" color="translucent">
      <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
    </ion-button>
    <ion-button slot="end" color="translucent">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-title class="headertext">Clima</ion-title>
</ion-header>

<ion-content>
  <ion-card class="cardinfo" color="darkgrey">
    <ion-card-header style="padding-bottom: 5px;">
      <ion-row class="ion-align-items-center">
        <ion-icon name="location"></ion-icon>
        <ion-card-title style="left: 5px;">Lençóis Paulista</ion-card-title>
      </ion-row>
      <ion-card-subtitle style="color: grey;">sáb., 6 de agosto 23:09</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <img src="../../assets/len.png" alt="lua e nuvem" width="70px">
        <ion-label style="font-size: 50px;">18°</ion-label>
        <div class="cardclima">
          <ion-label style="color: grey;">Encoberto</ion-label>
          <ion-label style="color: grey;">26°/ 16°</ion-label>
          <ion-label style="color: grey;">Sensação Térmica de 18°</ion-label>
        </div>
      </ion-row>

      <ion-slides [options]="slideOpts" pager="false">
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">22:00</div>
              <img src="../../assets/len.png" alt="lua e nuvem">
              <ion-label>19°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 1%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">23:00</div>
              <img src="../../assets/len.png" alt="lua e nuvem">
              <ion-label>18°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 1%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">00:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>18°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 2%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">01:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>18°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 2%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">02:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>18°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 2%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">03:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>18°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 2%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">04:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>17°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 3%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">05:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>17°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 8%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">06:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>17°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 8%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
        <ion-slide>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <div style="color: grey;">07:00</div>
              <img src="../../assets/cloud.png" alt="lua e nuvem">
              <ion-label>17°</ion-label>
              <ion-label class="slidetcor">
                <ion-icon name="water-outline"></ion-icon> 8%
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>

  <ion-card class="cardinfo" color="darkgrey">
    <ion-card-header class="card2header">
      <ion-card-subtitle class="card2sub" style="color: grey;">Ontem</ion-card-subtitle>
      <ion-label class="label">26°/ 14°</ion-label>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">segunda-f...</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water" style="width: 12px;"></ion-icon>89%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/rain2.png">
            <img src="../../assets/rain2.png">
          </div>
          <ion-label class="card2temp">22°/ 15°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">terça-feira</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water" style="width: 12px;"></ion-icon>85%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/rain2.png">
            <img src="../../assets/rain2.png">
          </div>
          <ion-label class="card2temp">21°/ 13°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">quarta-feira</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water-outline" style="width: 12px;"></ion-icon>22%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/cloudy2.png">
            <img src="../../assets/len2.png">
          </div>
          <ion-label class="card2temp">19°/ 9°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">quinta-feira</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water-outline" style="width: 12px;"></ion-icon>5%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/cloudy2.png">
            <img src="../../assets/moon2.png">
          </div>
          <ion-label class="card2temp">21°/ 10°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">sexta-feira</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water-outline" style="width: 12px;"></ion-icon>5%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/sun2.png">
            <img src="../../assets/moon2.png">
          </div>
          <ion-label class="card2temp">23°/ 11°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">sábado</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water-outline" style="width: 12px;"></ion-icon>2%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/cloud2.png">
            <img src="../../assets/cloud2.png">
          </div>
          <ion-label class="card2temp">26°/ 16°</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="card2prev">
          <ion-label style="font-size: 18px;">domingo</ion-label>
          <ion-label style="color: grey;">
            <ion-icon class="card2umi" name="water-outline" style="width: 12px;"></ion-icon>2%
          </ion-label>
          <div class="card2temp2">
            <img src="../../assets/cloud2.png">
            <img src="../../assets/rain2.png">
          </div>
          <ion-label class="card2temp">28°/ 16°</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>